@font-face {
    font-family: 'Mulish';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Mulish-Regular.woff2) format(woff2);
}

@font-face {
    font-family: 'Mulish';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Mulish-Bold.woff2) format(woff2);
}

@font-face {
    font-family: 'Mulish';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Mulish-Light.woff2) format(woff2);
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.75;
    color: #000000;
    font-size: 18px;
}